@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  background: #020617;
  overscroll-behavior: none;
}

body {
  background: #0d1321;
  color: #ededed;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
