@import "tailwindcss";

:root {
  --background: #0b1120;
  --foreground: #f9fafb;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  background: #0b1120;
  overscroll-behavior: none;
}

body {
  background: #111827;
  color: #f9fafb;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
